<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="e2e Test Suite" verbose="5" configfailurepolicy="continue">
    <parameter name="pdfngreport-properties" value="./pdfngreport.properties" />
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="com.oem.framework.listeners.CustomReporter"/>
    </listeners>

    <test name="OEM Regression Tests">
        <packages>
            <package name="com.oem.PortfolioManager"/>
            <package name="com.oem.QuotesAndTenders"/>
            <package name="com.oem.Suits"/>
            <package name="com.oem.FixedProcurement"/>

         
        </packages>

    </test>


</suite>
